.intro { display:flex;
    flex-direction: column;
    align-items: center;
}

#container { display:grid;
grid-template-columns: 1fr 1fr;
}

.dayone {
    background-color: darkcyan;
}

.daytwo{
    background-color: darkorange;
}